<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <a class="icon" href="https://github.com/{{ site.github_username }}">
          <i class="fa fa-github"></i>
        </a>
        <a class="icon" href="https://linkedin.com/in/{{ site.linkedin_username }}">
          <i class="fa fa-linkedin"></i>
        </a>
        <a class="icon" href="https://twitter.com/{{ site.twitter_username }}">
          <i class="fa fa-twitter"></i>
        </a>
      </p>
      <p>
        © 2017 {{ site.author }}
      </p>
    </div>
  </div>
</footer>
