<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item" href="{{ "/" | relative_url }}">
        <img src="{{ "/assets/img/favicon.ico" | relative_url }}" alt="" title="Home" />
            &nbsp;{{ site.title | escape }}
      </a>
    </div>

    <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
    <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <!-- This "nav-menu" is hidden on mobile -->
    <!-- Add the modifier "is-active" to display it on mobile -->
    <div class="nav-right nav-menu">
      <a class="nav-item" href="{{ "/" | relative_url }}">
        Home
      </a>
      <a class="nav-item" href="{{ site.baseurl }}{% link navigation/projects.md %}">
        Projects
      </a>
      <a class="nav-item" href="{{ site.baseurl }}{% link navigation/blog.md %}">
        Blog
      </a>
      <a class="nav-item" href="{{ site.baseurl }}{% link navigation/contact.md %}">
        Contact
      </a>
    </div>
  </div>
</nav>
