---
layout: default
---
<!-- Banner -->
<section id="banner">
  <div class="inner">
    <h2>Luis Estrada</h2>
    <p>Software Engineer</p>
    <div class="logo">
        <a href="https://github.com/{{ site.github_username }}">
            <span class="icon fa-github"></span>
        </a>
        <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
            <span class="icon fa-linkedin"></span>
        </a>
        <a href="https://twitter.com/{{ site.twitter_username }}">
            <span class="icon fa-twitter"></span>
        </a>
    </div>
  </div>
</section>

{{ content }}
