---
layout: default
---
<!-- Banner -->
<section id="banner">
  <div class="inner">
    <h2>Luis Estrada</h2>
    <p>Software Engineer</p>
    <div class="social-links">
        <a href="https://github.com/{{ site.github-username }}">
            <i class="fa fa-github fa-3x fa-fw image"></i>
        </a>
        <a href="https://linkedin.com/in/{{ site.linkedin-username }}">
            <span class="fa fa-linkedin fa-3x fa-fw image"></span>
        </a>
        <a href="https://twitter.com/{{ site.twitter-username }}">
            <span class="fa fa-twitter fa-3x fa-fw image"></span>
        </a>
    </div>
  </div>
</section>

{{ content }}
